PORT=

# Azure OpenAI Service
AZURE_OPENAI_KEY=
AZURE_OPENAI_INSTANCE=
AZURE_OPENAI_VERSION=
AZURE_OPENAI_DEPLOYMENT_NAME=

# Azure OpenAI Embeddings
AZURE_OPENAI_API_INSTANCE_NAME=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_EMBEDDINGS_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""
